<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Документы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="d-flex flex-column gap-1 justify-content-center align-items-center vh-100">

<form class="w-25 p-2 border rounded" action="/gr_calc">
    <h2>Формула <b class="text-danger"><i>+ вайб</i></b></h2>
    <img src="https://proza.ru/pics/2019/01/07/2156.jpg" alt="404">
    <div class="mb-2">
        <label for="m1" class="form-label">Масса второго объекта, <b>кг</b></label>
        <input type="number" class="form-control" id="m1" name="m1">
    </div>
    <div class="mb-2">
        <label for="m2" class="form-label">Масса первого объекта, <b>кг</b></label>
        <input type="number" class="form-control" id="m2" name="m2">
    </div>
    <div class="mb-2">
        <label for="r" class="form-label">Расстояние, <b>м</b></label>
        <input type="number" class="form-control" id="r" name="r">
    </div>
    <button type="submit" class="btn btn-success w-100">Посчитать</button>
</form>
</body>
</html>