<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="d-flex flex-column gap-1 justify-content-center align-items-center vh-100">
<form class="w-25 p-2 border rounded" method="post">
    <h2>Формула <b class="text-danger"><i>+ вайб</i></b></h2>
    <img src="https://proza.ru/pics/2019/01/07/2156.jpg" alt="404">
    <div>
        {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != 'csrf_token' %}
    <div class="mb-2">
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
        {% for error in field.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if output %}
        <p class="">Ответ: {{ output }}</p>
    {% endif %}
    <button type="submit" class="btn btn-success w-100 mb-2">Посчитать</button>
    <button type="reset" class="btn btn-success w-100">Очистить форму</button>
</form>
</body>
</html>